table {
    width: 55rem;
    margin: 0.5rem;
}
table tr:nth-child(odd) td {
    background: rgb(240, 238, 238);
    height: 3rem;
}

table tr:nth-child(even) td {
    background: white;
    height: 3rem;
}
link {
    text-decoration: none;
}

.alink {
    text-decoration: none;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    color: rgb(50, 50, 50);
    margin-bottom: 17rem;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    font-size: 3rem;
    color: rgb(85, 83, 83);
}
